{% extends 'admin/master.html' %}
{% block body %}
<div class="row">
	<div class="col-sm-12">
		<!-- Basic Form Inputs card start -->
		<div class="card">
			<div class="card-header">
				<h5 class="text-primary">ĐỔI MẬT KHẨU</h5>
				<div class="card-header-right"><i
					class="icofont icofont-spinner-alt-5"></i></div>

					<div class="card-header-right">
						<i class="icofont icofont-spinner-alt-5"></i>
					</div>

				</div>

				<div class="card-block">
					<form action="" method="POST">
						<div class="form-group row">
							{{ form.o_password.label(class="col-sm-2 col-form-label")}}
							<div class="col-sm-10">
								{{ form.o_password(class="form-control", placeholder="Old Password") }}
								<!-- <span class="md-line"></span> -->
							</div>
						</div>

						<div class="form-group row">
							{{ form.n_password.label(class="col-sm-2 col-form-label")}}
							<div class="col-sm-10">
								{{ form.n_password(class="form-control", placeholder="New Password") }}
								<!-- <span class="md-line"></span> -->
							</div>
						</div>

						<div class="form-group row">
							{{ form.c_password.label(class="col-sm-2 col-form-label")}}
							<div class="col-sm-10">
								{{ form.c_password(class="form-control", placeholder="Confirm New Password") }}
								<!-- <span class="md-line"></span> -->
							</div>
						</div>

						<div class="float-right">
							{{ form.submit(class="btn btn-primary btn-outline-primary") }}
							
							{% if current_user.is_admin() %}
								<a class="btn btn-success btn-outline-success" href="{{ url_for('admin.index') }}">
									Quay lại
								</a>
							{% endif %}
							{% if current_user.is_teacher() %}
								<a href="{{ url_for('_changePasswordTeacher.index') }}">
									<button class="btn btn-success btn-outline-success">
										<i class="ti-lock"></i>
										Đổi mật khẩu
									</button></a>
								<a class="btn btn-success btn-outline-success" href="{{ url_for('_teacher.index') }}">
									Quay lại
								</a>
							{% endif %}
							{% if current_user.is_student() %}
								<a class="btn btn-success btn-outline-success" href="{{ url_for('_student.index') }}">
									Quay lại
								</a>
							{% endif %}
							{% if current_user.is_edu_office() %}
								<a class="btn btn-success btn-outline-success" href="{{ url_for('_edu_office.index') }}">
									Quay lại
								</a>
							{% endif %}

						</div>
					</form>
					<div class="align-middle">
						
							
					</div>
				</div>
			</div>

		</div>
		<!-- Page body end -->
	</div>
</div>
<!-- Main-body end -->
<div id="styleSelector">

</div>
{% endblock  %}
